/* Universal styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  cursor: default;
}

* {
  box-sizing: border-box;
}

/*Home page section*/
#home-body {
  background-color: #111625;
}

.main-content {
  position: absolute;
  top: 3rem; /* To offset for fixed header. */
  left: 70px;
}

.center {
  text-align: center;
}

/*Position button and style*/
.project-button {
  border-radius: 20px;
  background-color: #FFB6C1;
  padding: 15px 20px 15px 20px;
  font-size: 1.375rem;
  cursor: pointer;
  text-decoration: none;
  color: #111625;
  font-weight: bold;
}

.project-button:hover {
  background-color: #111625;
  color: #ffffff;
  border: solid 2px #FFB6C1;
 }

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}


/* Header */

header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: auto;
  background-color:#111625;
  margin-top: 0px;
}

header .home-content {
  display: flex;
  align-items: center;
}

header .mylogo {
  width: 50%;
  height: auto;
  cursor: pointer;
}

/*Style navigation menu*/
header nav ul {
  position: absolute;
  right: 70px;
  top: 15px;
  display: flex;
}

nav li {
  padding-left: 3.5rem;
  list-style-type: none;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1.35rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color:#d0c6e4;
}


.intro {
  position: relative;
  top: 141px;
  left: 30%;
  border-radius: 4px;
}

.intro .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

.intro h1 {
  font-size: 3rem;
}

.intro h2 {
  font-size: 2.25rem;
}

.intro p {
  margin-bottom: 50px;
}

.home-intro {
  opacity: 0.8;
}

.intro .recursive {
  font-family: 'Recursive', sans-serif;
  letter-spacing: 2px;
}

.intro .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

.developer-image {
  position: absolute;
  bottom: 40px;
  left: 800px;
  z-index: 2;
}

.box {
  background-color: #bda7e8;
  opacity: 0.5;
  width: 80%;
  height: 280px;
  bottom: 90px;
  left: 835px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
}

.developer-image img {
  border-radius: 15px;
}

/* Project section */
.project-section {
  background-color: #d0c6e4;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  padding: 50px;
}

/*Style and position project cards*/
.project-cover img {
	display: block;
	border: 0;
	width: 100%;
	height: 200px;
}


.card {
	background: white;
  margin-bottom: 2rem;
}

.card a {
	color: #ffffff;
	text-decoration: none;
}

.card-content {
	padding: 1.4em;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 25px;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 100%;
  margin-bottom: 40px;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-top: 160px;
}

.card {
	flex: 0 1 24%;
  box-shadow: #4a4a4a 4px 4px 6px;
}

/*Align all buttons with one another*/
.web-button {
  border-radius: 20px;
  background-color: #FFB6C1;
  padding: 10px 12px 10px 12px;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.web-button:hover {
  background-color: #ffffff;
  color: #111625;
  border: solid 2px #FFB6C1;
 }

 .web-button1 {
  position: absolute;
  display: block;
  margin-left: 75px;
  margin-top: 6px;
  border-radius: 20px;
  background-color:#FFB6C1;
  padding: 10px 12px 10px 12px;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  
  }
  .web-button1:hover {
  background-color: #ffffff;
  color: #111625;
  border: solid 2px #FFB6C1;
  }
  

 /*About page*/

#about-body {
  background-color: #d0c6e4;
  margin: 180px 120px;
}

.about-page header {
  position: absolute;
  top: 0px;
  margin-top: -17px;
} 

.about-page nav ul li {
  margin-top: 13px;
}

/*Set content so that text floats to the left of the image*/
.about-me-pic {
  float: right; 
  width: 320px;
  height: auto;
  box-shadow: #4a4a4a 4px 4px 6px;
}

.span-about {
  color: #4a4a4a;
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.p-about {
  text-align: left;
  color: #4a4a4a;
  line-height: 1.9;
  font-family: 'Roboto Slab', serif;
  font-size: 1.125rem;
}

/*Style footer for About page*/
.about-footer {
  background-color: #000000;
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  bottom: -240px;
  left: 0;
}

.about-footer .content {
  color: white;
  display: flex;
  font-size: 1rem;
  text-align: center;
  line-height: 0;
  padding-top: 0px;
}

.about-footer .copyright {
  flex-grow: 1;
}

/*Contact page*/
#contact-body {
  background-color: #d0c6e4;
  margin-right: 50px;
}

/*Style input areas*/
input[type=text], [type=email], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: #4a4a4a 4px 4px 6px;
}

button[type=submit] {
  border-radius: 20px;
  background-color: #FFB6C1;
  padding: 10px 25px 10px 25px;
  margin-top: 13px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
}

button[type=submit]:hover {
  background-color: #ffffff;
  color: #111625;
  border: solid 2px #FFB6C1;
 }

 label {
  color: #4a4a4a;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
 }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 140px;
  padding: 20px 40px;
}

.msg-icon-attribute {
  color:#7c7c7c;
  text-align: center;
  font-size: 0.5em;
}

.msg-icon-attribute a {
  text-decoration: none;
  color:#7c7c7c;
}

.msg-logo {
  width: 60%;
  height: auto;
  margin-left: 50px;
}

/*Thank you page*/

.center {
  margin-top: 170px;
}

.center-heading3 {
  text-align: center;
  font-size: 1.25rem;
  color:#4a4a4a;
  background-color: #d0c6e4;
  line-height: 2;
}

.center-heading1 {
  color: #04b35b !important;
  font-size: 2.5rem;
}

.green-tick {
  width: 400px;
  height: auto;
}

.center a {
  padding-top: 10px;
  font-size: 1rem;
}

/*Style footer  for Home, Projects and Contact page*/
footer {
  background-color: #000000;
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
}

footer .content {
  color: white;
  display: flex;
  font-size: 1rem;
  text-align: center;
  line-height: 0;
  padding-top: 0px;
}

footer .copyright {
  flex-grow: 1;
}
